<h1 class="container">Task Index View</h1>

<ul> <% @tasks.each do |task| %>
  <li> <% if task.completed %>
    <strong><%= "X" %></strong>
    <% else %>
      <strong class="unmarked"><%= "" %></strong>
    <% end %>
    <%= link_to task.title, task_path(task)  %>
  </li>
  <% end %>
</ul>

<%= link_to '+ Add New Task', new_task_path, class: 'btn btn-primary' %>
